.popup__container {
  width: 430px;
  min-height: 330px;
  padding: 34px 36px 37px;
  position: relative;
  z-index: 10;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
